.sidebar {
    margin-top: 40px;
    width: 107px;
    float: left;
  }
  .navig__item{
    margin-bottom: 36px;
}
.navig__link{
    text-decoration: none;
}
.navig__link:hover .navig__text{
  color: #221f1f;
}
.navig__link:hover .navig__icon_plant{
    background-image: url('../../../img/main-icon-2.png');
}
.navig__icon{
  width: 23px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}
.navig__text{
  font-size: 12px;
  color: #1c5bc3;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}
.navig__icon_plant{
  background: url('../../../img/main_icon.png') center center no-repeat;
}
.navig__icon_hat{
  background: url('../../../img/team_icon1.png') center center no-repeat;
}
.navig__icon_star{
  background: url('../../../img/feed_icon.png') center center no-repeat;

}